<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Lettuce</string>
	<key>CFBundleIdentifier</key>
	<string>dryman.azalea.inputmethod.cangjie</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.01</string>
	<key>CFBundleSignature</key>
	<string>LTCE</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHumanReadableCopyright</key>
	<string>LGPL</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>dryman.azalea.inputmethod.cangjie.classic</key>
			<dict>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>BopomofoSelected.tiff</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>H</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>Bopomofo.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>Bopomofo.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>dryman.azalea.inputmethod.cangjie.classic</string>
		</array>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>AzaleaCangjie_1_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>CangJieClassic</string>
	<key>InputMethodServerDelegateClass</key>
	<string>CangJieClassic</string>
	<key>TISInputSourceID</key>
	<string>dryman.azalea.inputmethod.cangjie</string>
	<key>TISIntendedLanguage</key>
	<string>zh-Hant</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hant</string>
		<string>Hans</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>Bopomofo.tiff</string>
</dict>
</plist>
